################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HelloWorld/.vs/Microservices/v17
/HelloWorld/HelloWorld/obj
/HelloWorld/ShopingCart/obj
/HelloWorld/ShopingCart/bin/Debug/net6.0
/HelloWorld/.vs/Microservices
/HelloWorld/LoyaltyProgram/obj
/HelloWorld/LoyaltyProgram/bin/Debug/net6.0
